.container-Produto {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.produto-btn {
  background-color: #845afc;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.mensagem-vazia {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  color: #666;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.paginacao button {
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: white;
}

.paginacao button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.texto {
  color: white;
}

.container-lista-produto {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 10px auto;
}

.tabela-container {
  width: 100%;
  overflow-x: auto; /* Habilita a rolagem lateral para telas pequenas */
}

.tabela-produto {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(43, 43, 44);
  color: white;
}

.tabela-produto th,
.tabela-produto td {
  border: 1px solid #444;
  padding: 10px 12px; /* Aumentando o espaçamento para melhor visualização */
  text-align: left;
  font-size: 1.4rem;
  white-space: nowrap; /* Impede quebra de linha nas células */
}

@media (max-width: 600px) {
  .formInput {
    width: 100%;
    padding: 15px;
    gap: 15px;
  }

  .container-Produto {
    padding: 20px;
  }

  .tabela-produto th,
  .tabela-produto td {
    font-size: 16px; 
    padding: 8px 10px;
  }
}
